# Población Mundial

#### Primero se cargan las librerias necesarias para realizar el analisis de los datos de la poblacion mundial. 
#### La libreria Numpy se usa para tratar con matrices y operar con ellas.
#### La libreria Pandas, que se construye sobre numpy y nos permite tratar y transformar datos de una forma increible.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as  plt
import seaborn as sns

In [2]:
df = pd.read_csv('PoblacionMundial.csv', sep = ';', index_col = 'Country Name')

In [3]:
df

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,59471.0,...,102880,103594,104257,104874,105439,105962,106442,106585,106537,106445
Afganistán,AFG,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,10247780.0,...,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771
Angola,AGO,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,5868203.0,...,26147002,27128337,28127721,29154746,30208628,31273533,32353588,33428486,34503774,35588987
Albania,ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,2022272.0,...,2895092,2889104,2880703,2876101,2873457,2866376,2854191,2837849,2811666,2777689
Andorra,AND,9443.0,10216.0,11014.0,11839.0,12690.0,13563.0,14546.0,15745.0,17079.0,...,71367,71621,71746,72540,73837,75013,76343,77700,79034,79824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,XKX,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,1106000.0,1135000.0,1163000.0,...,1818117,1812771,1788196,1777557,1791003,1797085,1788878,1790133,1786038,1761985
Yemen,YEM,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,6228430.0,6368014.0,6515904.0,...,26984002,27753304,28516545,29274002,30034389,30790513,31546691,32284046,32981641,33696614
Sudáfrica,ZAF,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,19789771.0,20410677.0,21050540.0,...,53873616,54729551,55876504,56422274,56641209,57339635,58087055,58801927,59392255,59893885
Zambia,ZMB,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,3777680.0,3901288.0,4029173.0,...,15234976,15737793,16248230,16767761,17298054,17835893,18380477,18927715,19473125,20017675
Zimbabwe,ZWE,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,4588529.0,4734694.0,4886347.0,...,13555422,13855753,14154937,14452704,14751101,15052184,15354608,15669666,15993524,16320537

Con esta funcion podemos vizualizar la suma total, el promedio entre otra informacion, en resumen algunos datos estadisticos.

In [4]:
df.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
count,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,...,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02,2.630000e+02
mean,1.172963e+08,1.188971e+08,1.210619e+08,1.237416e+08,1.264428e+08,1.291824e+08,1.320379e+08,1.348910e+08,1.378239e+08,1.408619e+08,...,2.913540e+08,2.951591e+08,2.989312e+08,3.027008e+08,3.064753e+08,3.101828e+08,3.138062e+08,3.173097e+08,3.204836e+08,3.233431e+08
std,3.709541e+08,3.755171e+08,3.822590e+08,3.909899e+08,3.997631e+08,4.086681e+08,4.180387e+08,4.273659e+08,4.369816e+08,4.469904e+08,...,9.219470e+08,9.333642e+08,9.446318e+08,9.558297e+08,9.670358e+08,9.779431e+08,9.885156e+08,9.986146e+08,1.007729e+09,1.015672e+09
min,2.646000e+03,2.888000e+03,3.171000e+03,3.481000e+03,3.811000e+03,4.161000e+03,4.531000e+03,4.930000e+03,5.354000e+03,5.646000e+03,...,1.069400e+04,1.089900e+04,1.087700e+04,1.085200e+04,1.082800e+04,1.086500e+04,1.095600e+04,1.106900e+04,1.120400e+04,1.131200e+04
25%,5.129838e+05,5.205975e+05,5.284225e+05,5.367042e+05,5.454410e+05,5.533950e+05,5.666910e+05,5.747158e+05,5.828600e+05,5.870228e+05,...,1.569241e+06,1.596985e+06,1.624186e+06,1.623444e+06,1.634805e+06,1.650897e+06,1.670954e+06,1.693091e+06,1.710252e+06,1.718446e+06
50%,3.708088e+06,3.816540e+06,3.931214e+06,4.033994e+06,4.112910e+06,4.194930e+06,4.257383e+06,4.317222e+06,4.410692e+06,4.515734e+06,...,9.893082e+06,9.866468e+06,9.843028e+06,9.964656e+06,1.021538e+07,1.028382e+07,1.028626e+07,1.035344e+07,1.041581e+07,1.043286e+07
75%,2.419421e+07,2.489467e+07,2.559781e+07,2.630856e+07,2.700654e+07,2.771038e+07,2.842635e+07,2.913157e+07,2.984755e+07,3.056912e+07,...,5.226098e+07,5.290099e+07,5.420966e+07,5.541204e+07,5.645412e+07,5.771504e+07,5.890807e+07,5.912039e+07,5.926271e+07,5.941716e+07
max,3.031474e+09,3.072422e+09,3.126850e+09,3.193429e+09,3.260442e+09,3.328209e+09,3.398480e+09,3.468371e+09,3.540164e+09,3.614573e+09,...,7.229303e+09,7.317040e+09,7.403850e+09,7.490415e+09,7.576442e+09,7.660371e+09,7.741775e+09,7.820206e+09,7.888306e+09,7.950947e+09

Con esta funcion se puede visualizar los 5 primeros datos de la matriz u observar la cantidad que sea necesaria.

In [5]:
df.head()

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,59471.0,...,102880,103594,104257,104874,105439,105962,106442,106585,106537,106445
Afganistán,AFG,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,10247780.0,...,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771
Angola,AGO,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,5868203.0,...,26147002,27128337,28127721,29154746,30208628,31273533,32353588,33428486,34503774,35588987
Albania,ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,2022272.0,...,2895092,2889104,2880703,2876101,2873457,2866376,2854191,2837849,2811666,2777689
Andorra,AND,9443.0,10216.0,11014.0,11839.0,12690.0,13563.0,14546.0,15745.0,17079.0,...,71367,71621,71746,72540,73837,75013,76343,77700,79034,79824

In [6]:
df.head(7)

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,59471.0,...,102880,103594,104257,104874,105439,105962,106442,106585,106537,106445
Afganistán,AFG,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,10247780.0,...,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771
Angola,AGO,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,5868203.0,...,26147002,27128337,28127721,29154746,30208628,31273533,32353588,33428486,34503774,35588987
Albania,ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,2022272.0,...,2895092,2889104,2880703,2876101,2873457,2866376,2854191,2837849,2811666,2777689
Andorra,AND,9443.0,10216.0,11014.0,11839.0,12690.0,13563.0,14546.0,15745.0,17079.0,...,71367,71621,71746,72540,73837,75013,76343,77700,79034,79824
El mundo árabe,ARB,93359407.0,95760348.0,98268683.0,100892507.0,103618568.0,106444103.0,109394536.0,112499764.0,115729597.0,...,389131555,397922915,406501999,415077960,423664839,432545676,441467739,449228296,456520777,464684914
Emiratos Árabes Unidos,ARE,133426.0,140984.0,148877.0,157006.0,165305.0,173797.0,182509.0,191404.0,213582.0,...,8751847,8835951,8916899,8994263,9068296,9140169,9211657,9287289,9365145,9441129

En pandas los dataframes estan formados por Series. Las Series no son mas que arrays de un mismo tipo. Los dataframes pueden estar formados de Series de distintos tipos y podemos ver estos tipos con .dtypes

In [7]:
df.dtypes

Country Code     object
1960            float64
1961            float64
1962            float64
1963            float64
                 ...
2018              int64
2019              int64
2020              int64
2021              int64
2022              int64
Length: 64, dtype: object

 Con esta funcion se puede visualiza los datos por columna, pero los primeros datos.

In [8]:
df['Country Code'].head()

Country Name
Aruba         ABW
Afganistán    AFG
Angola        AGO
Albania       ALB
Andorra       AND
Name: Country Code, dtype: object

In [9]:
sns.distplot(df('PoblacionMundial'))

TypeError: 'DataFrame' object is not callable

In [10]:
# De esta manera se puede vizualizar las columnas.
df.columns

Index(['Country Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022'],
      dtype='object')

In [11]:
df['1960'].describe()

count    2.620000e+02
mean     1.172963e+08
std      3.709541e+08
min      2.646000e+03
25%      5.129838e+05
50%      3.708088e+06
75%      2.419421e+07
max      3.031474e+09
Name: 1960, dtype: float64

In [12]:
# Eliminamos la segunda columna el cual menciona las abreviaturas de los paises.

df1 = df.drop('Country Code', axis = 1)

In [13]:
df1

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,59471.0,59330.0,...,102880,103594,104257,104874,105439,105962,106442,106585,106537,106445
Afganistán,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,10247780.0,10494489.0,...,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771
Angola,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,5868203.0,5928386.0,...,26147002,27128337,28127721,29154746,30208628,31273533,32353588,33428486,34503774,35588987
Albania,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,2022272.0,2081695.0,...,2895092,2889104,2880703,2876101,2873457,2866376,2854191,2837849,2811666,2777689
Andorra,9443.0,10216.0,11014.0,11839.0,12690.0,13563.0,14546.0,15745.0,17079.0,18449.0,...,71367,71621,71746,72540,73837,75013,76343,77700,79034,79824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,1106000.0,1135000.0,1163000.0,1191000.0,...,1818117,1812771,1788196,1777557,1791003,1797085,1788878,1790133,1786038,1761985
Yemen,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,6228430.0,6368014.0,6515904.0,6673981.0,...,26984002,27753304,28516545,29274002,30034389,30790513,31546691,32284046,32981641,33696614
Sudáfrica,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,19789771.0,20410677.0,21050540.0,21704214.0,...,53873616,54729551,55876504,56422274,56641209,57339635,58087055,58801927,59392255,59893885
Zambia,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,3777680.0,3901288.0,4029173.0,4159007.0,...,15234976,15737793,16248230,16767761,17298054,17835893,18380477,18927715,19473125,20017675
Zimbabwe,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,4588529.0,4734694.0,4886347.0,5044163.0,...,13555422,13855753,14154937,14452704,14751101,15052184,15354608,15669666,15993524,16320537

In [14]:
Aruba = df1[0:1]
Aruba

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,59471.0,59330.0,...,102880,103594,104257,104874,105439,105962,106442,106585,106537,106445

In [15]:
import re
string = 'bat, lat, mat, bet, let, met, bit, lit, mit, bot, lot, mot'
result = re.findall('b[ao]t', string)
print(result)
import numpy as np

['bat', 'bot']

In [16]:
a1 = np.random.rand(4)
a2 = np.random.rand(4, 1)
a3 = np.array([[1, 2, 3, 4]])
a4 = np.arange(1, 4, 1)
a5 = np.linspace(1 ,4, 4)

In [ ]:
a1

In [ ]:
a2

In [ ]:
a3

In [17]:
import re
s = 'ACAABAACAAAB'
result = re.findall('A{1,2}', s)
L = len(result)
L

5

In [18]:
import numpy as np

old = np.array([[1, 1, 1], [1, 1, 1]])
new = old
new[0, :2] = 0

print(old)

[[0 0 1]
 [1 1 1]]

In [19]:
def X_dist(a, b):
    result = ((a - b) * (a - b)).sum()
    result = result ** 0.5
    return result

In [21]:
import re

texto = "Hola, mi correo es usuario1@example.com y el otro es usuario2@mail.com."

patron_correo = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
correos = re.findall(patron_correo, texto)

print(correos)

['usuario1@example.com', 'usuario2@mail.com']

In [22]:
import re
def names():
    simple_string = """Amy is 5 years old, and her sister Mary is 2 years old. 
    Ruth and Peter, their parents, have 3 kids."""
    return simple_string
    # YOUR CODE HERE
pattern = names()
print(pattern)

Amy is 5 years old, and her sister Mary is 2 years old.
    Ruth and Peter, their parents, have 3 kids.

In [23]:
import re

def names():
    simple_string = """Amy is 5 years old, and her sister Mary is 2 years old. 
    Ruth and Peter, their parents, have 3 kids."""
    
    # Patrón para encontrar palabras que comiencen con una letra mayúscula seguida de letras minúsculas
    name_pattern = r'\b[A-Z][a-z]+\b'

    # Utiliza re.findall() para encontrar todas las coincidencias del patrón en la cadena
    names_found = re.findall(name_pattern, simple_string)
    
    # Devuelve la lista de nombres encontrados
    return names_found

# Llama a la función names() y almacena el resultado en una variable
found_names = names()

# Imprime los nombres encontrados
print(found_names)

['Amy', 'Mary', 'Ruth', 'Peter']

In [24]:
import re

simple_string = """Amy is 5 years old, and her sister Mary is 2 years old. 
Ruth and Peter, their parents, have 3 kids."""

# Patrón para encontrar palabras que comiencen con una letra mayúscula seguida de letras minúsculas
name_pattern = r'\b[A-Z][a-z]+\b'

# Utiliza re.findall() para encontrar todas las coincidencias del patrón en la cadena
names = re.findall(name_pattern, simple_string)

# Imprime los nombres encontrados
print(names)

['Amy', 'Mary', 'Ruth', 'Peter']